{% extends "backstage/base.html" %}
{% block title %}添加章节 {% endblock %}
{% block heads %}{{ form.media }} {% endblock %}
{% block activechapter %}actived{% endblock %}
{% block ol %}
    <li>我的章节</li>
    <li class="active">添加章节</li>
{% endblock %}

{% block content %}
<div class="heading">
    <h3 class="title">添加章节<span class="box-toggle"><i class="fa fa-chevron-up"></i></span></h3>
  </div>

<div class="box-inner">
<form class="form-horizontal" action="#" method="POST">
    <br>

{#    <div class="form-group" style="margin-right: 40%">#}
{#      <label class="col-md-2 control-label">课程名:</label>#}
{#      <div class="col-sm-6">#}
{#      <input type="text" class="form-control" id="title" name="title" placeholder="请输入书本名" >#}
{#          <select class="form-control" id="course">#}
{#              {% for i in courses %}#}
{#                <option value ="{{ i.id }}">{{ i.courseName }}</option>#}
{#              {% endfor %}#}
{#          </select>#}
{#        <span class="help-block"></span>#}
{#      </div>#}
{#    </div>#}
    <br>

    <div class="form-group" style="margin-right: 40%">
      <label class="col-md-2 control-label" >序号:</label>
      <div class="col-sm-6">
      <input type="number" max="1000" min="1" class="form-control" id="number"  placeholder="请输入序号">
        <span class="help-block"></span>
      </div>
    </div>
    <br>

    <div class="form-group" style="margin-right: 40%">
      <label class="col-md-2 control-label" >章节名:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="chapName" placeholder="请输入章节名">
        <span class="help-block"></span>
      </div>
    </div>
    <br>
    </form>

    <form id="formSubmit" action="#" method="post">
    <div class="form-group" id="fu">
{#        <input type="hidden" value="" id="chapterId">#}
    {{ form }}
        </div>
</form>
<button class="btn btn-info" style="float: right;" id="chapterBt" type="button" >保存</button>


    </div>
{% endblock %}
{% block scriptblock %}
    <script type="text/javascript">

    $("#chapterBt").click(function () {

        var number = $("#number").val();
        var chapName = $("#chapName").val();
        if(number =='' || chapName==''){
            alert("请填写所有空！");
            return;
        }
        $.ajax({
            url:"/user/chapteraction/",
            data:{"chapterName":chapName,"serial_number":number},
            type:"POST",
            success:function(data){
                if(data.code==400){
                    alert(data.detail)
                }else if(data.code==200){
                    nextId = data.detail;
                    $("#formSubmit").attr("action","/user/chapterchange/"+nextId+"/");
                    $("#formSubmit").submit()
                }
                console.log(data)
            }
        });

    })

    </script>
{% endblock %}