{% extends "backstage/base.html" %}
{% block title %}计算机网络课程_所有章节 {% endblock %}
{% block activechapter %}actived{% endblock %}
{% block ol %}
    <li>章节管理</li>
    <li class="active">所有章节</li>
{% endblock %}

{% block content %}
    <div class="heading">
      <h3 class="title">所有章节<span class="box-toggle"><i class="fa fa-chevron-up"></i></span></h3>
    </div>

    <div class="box-inner">
      <form class="form-inline form-label-search" role="form" action="/user/chapter/">
        <div class="form-group">
          <label class="control-label">查询条件：</label>
          <input type="text" name="title" class="form-control" placeholder="课程名字" value="{{ title }}" >
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default btn-search">搜索</button>
        </div>



        <div class="form-group pull-right">
          <a type="button" class="btn btn-primary pull-right" href="/user/chapteraction/">新增</a>
        </div>

      </form>

     <div class="separator-10"></div>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
{#            <th>#}
{#              <input type="checkbox" id="check_all">#}
{#            </th>#}
              <th></th>
            <th>#ID</th>
            <th>章节序号</th>
            <th>章节名称</th>
            <th>创建时间</th>
            <th>&ensp;操作</th>
          </tr>
          </thead>
          <tbody>
            {% for i in chapter %}
            <tr>
{#                <td><input type='checkbox' class='check_item' /></td>#}
                <td></td>
                <td>{{ i.id }}</td>
                <td>{{ i.serial_number }}</td>
                <td>{{ i.chapterName }}</td>
                <td>{{ i.createTime }}</td>
            <td>
              <a  class="btn btn-primary btn-sm" href="/user/chapterchange/{{ i.id }}/">编辑</a>
              <button class="btn btn-danger btn-sm" onclick="deleteOne({{ i.id }})">删除</button>
            </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}

{% block scriptblock %}
    <script>
        function deleteOne(id){
            $.ajax({
                url:"/user/chapterdel/",
                data:{"id":id},
                type:"GET",
                success:function(data){
                    if(data.code==200){
                        alert("操作成功！");
                        window.location.reload()
                    }
                }
            })
        }
    </script>
{% endblock %}