{% extends "backstage/base.html" %}
{% block title %}编辑章节 {% endblock %}
{% block heads %}{{ form.media }} {% endblock %}
{% block activechapter %}actived{% endblock %}
{% block ol %}
    <li>章节管理</li>
    <li class="active">编辑章节</li>
{% endblock %}

{% block content %}
<div class="heading">
    <h3 class="title">编辑章节<span class="box-toggle"><i class="fa fa-chevron-up"></i></span></h3>
  </div>

<div class="box-inner">
<form class="form-horizontal" method="post" action="/user/testpost/">
    <br>


    <div class="form-group" style="margin-right: 40%">
      <label class="col-md-2 control-label" >序号:</label>
      <div class="col-sm-6">
      <input type="number" max="1000" min="1" class="form-control" id="number"  placeholder="请输入序号" value="{{ data.serial_number }}">
        <span class="help-block"></span>
      </div>
    </div>
    <br>

    <div class="form-group" style="margin-right: 40%">
      <label class="col-md-2 control-label" >章节名:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="chapName" placeholder="请输入章节名" value="{{ data.chapterName }}">
        <span class="help-block"></span>
      </div>
    </div>
    <br>
    </form>
<form id="formSubmit" action="#" method="post">
    <div class="form-group" id="fu">
    {{ form }}
        </div>
<button class="btn btn-info" style="float: right;" id="chapterBt" type="button" >保存</button>
</form>

    </div>
{% endblock %}
{% block scriptblock %}
    <script type="text/javascript">
    window.onload=function(){
        setTimeout(function(){
            UE.getEditor('id_Description').execCommand('insertHtml', '{{ data.chapterContent | safe }}');
        },300);//1000毫秒=1秒后执行test方法
    };
{#    function content(){#}
{#        UE.getEditor('id_Description').execCommand('insertHtml', '{{ data.chapterContent | safe }}');#}
{#        $("#fu").find("iframe").contents().find('body').html('{{ data.chapterContent | safe }}');#}

{#    }#}

    $("#chapterBt").click(function () {
        UE.getEditor('id_Description').execCommand('insertHtml', " ");
        var number = $("#number").val();
        var chapName = $("#chapName").val();
        if(number =='' || chapName==''){
            alert("请填写所有空！");
            return;
        }
        data={"chapterName":chapName,"serial_number":number};
        if("{{ data.id }}" != ""){
            data['id']={{ data.id }}
        }else{
            return;
        }
        $.ajax({
            url:"/user/chapteraction/", //此接口可以创建或者更新  如果存在id就是针对id更新 否则为创建
            data:data,
            type:"POST",
            success:function(data){
                if(data.code==400){
                    alert(data.detail)
                }else if(data.code==200){
                    $("#formSubmit").attr("action","/user/chapterchange/{{ data.id }}/");
                    $("#formSubmit").submit()
                }
                console.log(data)
            }
        });

    })

    </script>
{% endblock %}